<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <title>The Country Quiz</title>
</head>
{% block content %}
<body>

    <div class="container">
        <h2>The Country Quiz</h2>

        {% if random_country %}

        <p><em>{{ random_country.name }}</em></p>
        {% endif %}


        <form method="get">
            <input type="hidden" name="random_q" value="{{ random_country.name }}" />

            {{ form.as_p }}
            <button type="submit">search</button>
        </form>

        {% if search_result %}
        <hr>
        {% if search_result.success %}
        {% for result in search_result.results %}
        <h3>{{ result.capital }}</h3>

        {% endfor %}
        {% else %}
        <p><em>{{ search_result.message }}</em></p>
        {% endif %}
        {% endif %}

        {% endblock %}
    </div>
</body>
</html>